<p id="notice"><%= notice %></p>

<h1 style="color:yellowgreen;">Posts</h1>

<% if user_signed_in? %>
login as <%= current_user.email %><hr>

<%= search_form_for @q do |f| %>
  <%= f.search_field :title_cont, placeholder: "Search post" %>
  <%= f.submit "Search" %>
<% end %>
<br>
<%= link_to "clear search", root_path %>
<br><br>

  <table>
    <thead>
      <tr>
        <th><%= sort_link(@q, :title) %></th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= current_user.email %></td>
            <td><%= link_to 'Show', post %></td>
            <td><% if can? :edit, post %><%= link_to 'Edit', edit_post_path(post) %><% end %></td>
            <td><% if can? :edit, post %><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
          </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
<% end %>


<br>

<%= link_to 'New Post', new_post_path %>
